*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d1f2fa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #251d49;
}

.head{
    margin: 10px 10px 0 10px;
    height: 50px;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head img{
    height: 45px;
    width: auto;
}

.head .profile-picture{
    border-radius: 50%;
    
}

.head #close-button{
    transform: scale(0.5);
}

.posts{
    width: 350px;
    margin: 50px auto 60px auto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts p{
    margin-top: 50px;
    margin-bottom: 30px;
}

.posts img{
    width: 350px;
    height: 450px;
}

.footer{
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: end;
}

.footer img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.footer-option{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}